<!DOCTYPE html>
<html lang="en">

<head>
    <title>lyrics bar</title>
    <meta charset="UTF-8" />
    <meta name="description" content="song lyric search" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/rowclick.js"></script>
</head>

<body>
    <div class="everything">
        <header>
            <a class="logo" href="/">
                <h1 class="logo">lyrics bar</h1>
            </a>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">home</a></li>
                    <% if (user) { %>
                    <li><a href="/addSong">add song</a></li>
                    <% } %>
                    <li><a href="/about">about</a></li>
                </ul>
            </nav>

            <% if (user) { %>
            <a href="/profile" class="profile"><button>profile</button></a>
            <a href="/logout" class="logout"><button>logout</button></a>
            <% } else { %>
            <a href="/signUp" class="signup"><button>sign up</button></a>
            <a href="/login" class="login"><button>login</button></a>
            <% } %>
        </header>
    </div>
</body>

</html>