<%- include ('partials/header.ejs'); -%>
<br><br><br>
<h2>welcome back !</h2>
<!-- LOGIN DIV -->
<div class="signin-form">
    <h2>login</h2>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
    <div class="flash-alert"><%= message %></div>
    <% } %>
    <form class="signin" method="POST" action="/login">
        <div class="inputBox">
            <input type="text" name="username" id="username" required />
            <label for="username">username</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" id="password" required />
            <label for="password">password</label>
        </div>
        <div class="signin-btn">
            <button type="submit">login!</button>
        </div>
    </form><br>
    <div class="not-a-member">
        <a href="/signUp">
            <h6>not a member? sign up here</h6>
        </a>
    </div>
</div>