<%- include ('partials/header.ejs'); -%>
<% if (user) { %>
<h2 class="username"><%= user.username %></h2>
<% } %>
<br><br>
<h3>fav songs</h3>
<br>
<div>
    <table class="user-song-table">
        <thead>
            <tr>
                <th>title</th>
                <th>artist</th>
                <th>album</th>
                <th>genre</th>
                <th>year</th>
            </tr>
        </thead>
        <tr data-href="#">
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
    </table>
</div>