<%- include ('partials/header.ejs'); -%>
<br><br>
<h2>welcome to lyrics bar!</h2>
<!-- SIGN UP DIV -->
<div class="signup-form">
    <h2>sign up</h2>
    <form class="signup" method="POST" action="/signUp">
        <div class="inputBox">
            <input type="text" name="username" id="username" required />
            <label for="username">username</label>
        </div>
        <div class="inputBox">
            <input type="email" name="email" id="email" />
            <label for="password-confirm">email</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" id="password" required />
            <label for="password">password</label>
        </div>
        <div class="signup-btn">
            <button type="submit">sign up!</button>
        </div>
    </form>
    <div class="already-a-member">
        <a href="/login">
            <h6>already a member? login here</h6>
        </a>
    </div>
</div>